<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- <include file="$(find neo_simulation)/config/controller/launch/controller_utils.launch"/> -->

  <param name="robot_description" command="$(find xacro)/xacro '$(find neo_simulation)/robots/mpo_700/mpo_700.urdf.xacro'" />


  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" value="100.0"/>
  </node>

  <!-- Wheel controller -->
  <rosparam file="$(find neo_simulation)/config/controller/mpo_700_wheel_controller.yaml" command="load"/>
  
  <node name="wheel_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn 
        mpo_700_caster_front_left_controller 
        mpo_700_caster_front_right_controller 
        mpo_700_caster_back_left_controller 
        mpo_700_caster_back_right_controller  
        mpo_700_wheel_front_left_controller
        mpo_700_wheel_front_right_controller   
        mpo_700_wheel_back_left_controller 
        mpo_700_wheel_back_right_controller" respawn="false" output="screen"/>

</launch>
